@import './variables2';

*{
    margin:0;
    padding: 0;
}
.tableholder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
}

.header{
    padding: 30px 0 8px 0;
    color:black;
    text-align: center;
}

.main{
    display:flex;
    justify-content: center;
    align-items: center;
    width:80vw;
    color:$color3;
}

.scroll{
    overflow: auto;
}
.filters{
    background: $color8;
    width:72vw;


    .filter{
        padding:10px;
        display: flex;
        justify-content: left;

        select{
            background: white;
            padding: 5px 8px;
            border-radius: 5px;
            width: 10%;
            margin-left: 7px;
        }
    }

    input{
        border: 2px solid silver;
        padding: 5px 8px;
        border-radius: 5px;
        width: 40%;
    }


}
table{
	font-size: 12px;
}

thead{
    background: $color1;


  th{
    padding:12px 40px;
    border:0;
}
}

tbody{
    background: rgb(13, 62, 168);
    color:$color3;

    td{
        padding:12px 40px;
        text-align: center;
    }
}

.loadercon{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 27, 41,0.1);
}
.images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.image {
 margin:20px 0;
    img{
        width:40vw;
        height: 100vh;
    }
    
}

.green{
    color: green;
}

.red{
    color: red;
}









@media(max-width:700px){
    .main{
        width: 90vw;
    }

    .filters{
        background: $color8;
        width:89vw;
        input{
            width: 50%;
        }
    .filter{
        select{
            width: 27%;
            }
    }

    }

    tbody{
    
        td{
            padding:10px 30px;
        }
    }
    
    .image {
        margin:20px 0;
           img{
               width:40vw;
               height: 100vw;
           }
        }
        
}